.carousel {
  display: flex;
  box-sizing: border-box;
  margin-top: 12.5%;
  margin-left: 10%;
  /* max-height: 1500px;
  max-width: 1300px; */
  margin-bottom: 12.5%;
}
.carouselItem {
  width: 60%;
  margin-left: 12.5%;
}
.carousel img {
  text-align: center;
  max-width: 400px;
  max-height: 500px;
  box-shadow: 0.31rem 0.625rem 1.125rem #0c0608;
  opacity: 0.9;
}
.carouselCaption {
  margin-left: 15%;
  width: 50%;
}
.carouselCaption p {
  color: black;
  font-size: 1.5rem;
}

.carouselCaption h5 {
  color: black;
  font-size: 1.5rem;
}

.portfolioCodeLink {
  margin: 5%;
  padding: 2%;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .carousel img {
    opacity: 0.1;
  }
}
