h2 {
  text-align: center;
  font-size: 4 rem;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5%;
}

.certsImage {
  max-height: 300px;
  max-width: 300px;
  margin: 10%;
}

#CertsAzureFun {
  border: 5px solid black;
}

@media screen and (max-width: 1200px) {
  .certsContainer {
    justify-content: center;
    flex-wrap: wrap;
  }
}
