h2 {
  text-align: center;
  font-size: 4 rem;
  padding: 0%;
}

.certContainer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: flex-wrap;
  align-items: center;
}

.certsImage {
  max-height: 450px;
  max-width: 450px;
  margin: 5% 2.5%;
}

@media screen and (max-width: 1200px) {
  .certsContainer {
    justify-content: center;
    flex-wrap: wrap;
  }
}
