.contactInfo {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.contactLink {
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.submitBtn {
  margin-top: 2%;
  background-color: blue;
  box-shadow: 0.1rem #0c0608;
  opacity: 0.7;
  border-radius: 5px;
  color: white;
}

.phoneNum {
  text-decoration: underline;
}
.currentEmail {
  text-decoration: underline;
}
