body {
  background-color: #f3f7fc;
  color: #0c0608;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header h1 {
  text-align: center;
  padding-top: 5%;
}
.header h2 {
  text-align: center;
  padding-top: 5%;
  font-size: 4 rem;
}
#About {
  margin-top: 5%;
}

.page-section {
  display: flex;
  padding: 5%;
  margin-top: 5%;
}

p {
  width: 70%;
  word-wrap: normal;
  font-size: 1.5rem;
  margin-left: 10%;
  font-family: "Open Sans", sans-serif;
}

.address a {
  padding: 2%;
}

#workSection {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav {
  padding-top: 5%;
  font-size: 1.7 rem;
  justify-content: center;
}
